doctype html 
html(lang="en")
    head 
        meta(charset="utf-8")
        title Home | Crazy Cupcakes 
        link(rel="stylesheet", href="/css/style.css")
    body 
        header#header
            img#logo(src="imgs/logo.png")
            //image from https://png.pngtree.com/png-vector/20240130/ourmid/pngtree-cupcake-png-with-ai-generated-png-image_11571382.png
            h2#sitename 
                a(href="/") Crazy Cupcakes!
        main#main-content 
            h1.page-title Try one of 35+ our crazy flavours!
            p We have been making cupcakes in Toronto since 1985. In the decades since Crazy Cupcakes opened, we have come up with some pretty crazy flavours! 
            img(src="imgs/cupcakes.jpg" alt="Several cupcakes frosted with bright shades of blue, pink, green purple, and yellow and topped with sprinkles.")
            //image from https://funcakes.com/content/uploads/2022/06/cupcake_strooisels_regenboog.webp
            h2 Pick your favourite: 
            ul 
                li Orange Sherbert 
                li Espresso Explosion 
                li Blueberry Burst 
                li Buttered Popcorn
                li Toasted Marshmallow
                li and so many more!
            h2.call-to-action Visit Us Today!
            img(src="imgs/cupcakes2.jpg" alt="Four cupcakes topped with golden roasted marshmallow frosting and a square of milk chocolate.")
            //image from https://food.fnr.sndimg.com/content/dam/images/food/fullset/2022/03/17/0/FPLF110_mary-berg-smores-cupcakes-2_s4x3.jpg.rend.hgtvcom.1280.720.suffix/1647534376979.jpeg
        footer#footer 
            p &copy; Copyright Crazy Cupcakes 2024