extends layout 


block main-content 
  //You can overwrite the main-content block by writing block content
  //in the template file which is extending. each m represents each movie object in the movies array
  h1.page-title Hello! 
  h2 Below are some popular movies! 
  h3 
    a(href="topshows") Click Here To See The 15 Most Watched TV Shows Of All Time
  ul 
    each m in movies
      li 
      h2 
        a(href=`/related/${m.movie.ids.imdb}`) #{m.movie.title} (#{m.movie.year}) 
      p #{m.movie.overview}

  
  