extends layout 

block main-content 

	h1 Browse Artworks By Year 
	form(role="form" method="POST" action="/byYear/submit")#year-form
		label(for="year") Select Year:
		input(type="number" name="year")
		button(type="submit") Find Art!