block variables 
doctype html 
html 
  head
    meta(charset="utf-8")
    title #{title} | Art in Context
    block scripts 
      link(rel="stylesheet", type="text/css", href="/css/style.css")
  body
    header
        h2#site-name
          a(href="/") Art in Context 
        h3#year-link 
          a(href="/byYear") Browse by Year
    main
      block main-content 
    footer
      p &copy; Copyright Deryn Boscariol, 2024.